/* Colores de ngx-sonner (variables CSS globales) */
/* Colócalo en un archivo de estilos global si es necesario */

/* :root {
  /* --sonner-success-accent: #10B981; 
  /* --sonner-success-background: #F0FDF4;  */
  /* --sonner-success-text: #065F46;  */

/* 
  --sonner-error-accent: #EF4444; 
  --sonner-error-background: #FEF2F2; 
  --sonner-error-text: #991B1B;


  --sonner-info-accent: #3B82F6; 
  --sonner-info-background: #EFF6FF; 
  --sonner-info-text: #1E40AF; */
