<nav class="bg-primary shadow-lg sticky w-full top-0 z-50 border-b-2 border-primary/20">
  <div class="navbar container mx-auto">
    <div class="navbar-start">
      <div class="dropdown">
        <button
          tabindex="0"
          role="button"
          class="btn btn-ghost shadow-none border-primary md:hidden text-background hover:bg-success/20"
          aria-label="Abrir menú"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h7"
            />
          </svg>
        </button>

        <ul
          tabindex="0"
          class="menu menu-lg dropdown-content mt-6 z-1 p-2 shadow-lg bg-background rounded-lg w-52 border border-border"
        >
          <li>
            <a
              routerLink="/catalog"
              routerLinkActive="bg-primary/10 text-primary font-semibold"
              class="text-text hover:bg-primary/5"
            >
              Catálogo
            </a>
          </li>

          @if (authService.isLoggedIn()) {
            <li>
              <a
                routerLink="/orders"
                routerLinkActive="bg-primary/10 text-primary font-semibold"
                class="text-text hover:bg-primary/5"
              >
                Mis Pedidos
              </a>
            </li>
            <li>
              <button (click)="onLogout()" class="text-error hover:bg-error/10">
                Cerrar sesión
              </button>
            </li>
          } @else {
            <li>
              <a routerLink="/login" class="text-text hover:bg-primary/5"> Iniciar sesión </a>
            </li>
            <li>
              <a routerLink="/register" class="text-primary font-semibold hover:bg-primary/10">
                Registrarse
              </a>
            </li>
          }
        </ul>
      </div>

      <a
        routerLink="/"
        class="text-2xl md:text-3xl font-display font-bold whitespace-nowrap text-accent hover:text-background/90 transition-colors ml-2 md:ml-0"
      >
        Bouquet Barcelona
      </a>
    </div>

    <div class="navbar-end gap-8 mr-2 mt-2">
      <div class="hidden md:flex md:flex-none">
        <ul class="menu menu-horizontal px-1 gap-2">
          <li>
            <a
              routerLink="/catalog"
              routerLinkActive="bg-primary/10 text-background/80 font-semibold"
              class="text-accent hover:bg-primary/5 transition-colors"
            >
              Catálogo
            </a>
          </li>

          @if (authService.isLoggedIn()) {
            <li>
              <a
                routerLink="/orders"
                routerLinkActive="bg-primary/10 text-background/80 font-semibold"
                class="text-accent hover:bg-primary/5 transition-colors"
              >
                Mis Pedidos
              </a>
            </li>
          }
        </ul>
      </div>
      <div class="hidden md:flex">
        @if (!authService.isLoggedIn()) {
          <a
            routerLink="/login"
            class="btn btn-primary bg-accent/80 text-accent-content hover:bg-success/70 hover:text-background"
          >
            Iniciar sesión
          </a>
        } @else {
          <button
            (click)="onLogout()"
            class="btn btn-primary bg-accent/20 text-accent hover:text-background/90 hover:bg-error/70"
          >
            Cerrar sesión
          </button>
        }
      </div>

      <button
        role="button"
        (click)="openCartModal()"
        class="btn btn-ghost btn-circle hover:bg-primary/10"
        aria-label="Ver cesta"
      >
        <div class="indicator">
          <span class="text-3xl" [class.animate-pulse]="totalItemsCount() > 0"> 💐</span>
          <span class="badge badge-sm badge-success indicator-item">
            {{ totalItemsCount() }}
          </span>
        </div>
      </button>
      <dialog #cartModal class="modal">
        <div
          class="modal-box fixed w-72 top-8 right-4 bg-white border border-border shadow-xl rounded-2xl p-0 mt-18"
        >
          <div class="card-body p-5">
            <span class="font-bold text-lg text-text">
              {{ totalItemsCount() }} producto{{ totalItemsCount() !== 1 ? 's' : '' }}
            </span>
            <span class="text-secondary">Total: {{ cartTotal() | currency: 'EUR' }} </span>
            <div class="card-actions flex flex-col gap-2">
              <button
                (click)="goToCart()"
                class="btn btn-secondary bg-accent hover:bg-success hover:border-success hover:text-background btn-block"
              >
                Ver cesta
              </button>
              <form method="dialog" class="w-full">
                <button class="btn btn-ghost btn-sm btn-block">Cerrar</button>
              </form>
            </div>
          </div>
        </div>
        <form method="dialog" class="modal-backdrop">
          <button class="cursor-default">close</button>
        </form>
      </dialog>
    </div>
  </div>
</nav>
